<div class="mission">
  <div class="headerMission">
    <h1>Misiune</h1>
  </div>
  <div class="bodyMission">
    <p>
      Suntem aici pentru a construi o retea de sanatate care sa arate comunitatii in care traim ca ne pasa de oameni in mod autentic. Actionam condusi de credinta ca pacientul trebuie sa fie in centrul preocuparilor noastre si ca doar asa putem oferi acestuia experiente pozitive memorabile.
    </p>
  </div>
  <br>
  <div class="vision">
    <h1>Viziune</h1>
  </div>
  <div class="bodyVision">
    <p>
      Vrem sa stabilim cel mai inalt standard in serviciile medicale private din Romania, bazat pe cei mai buni medici, printr-un sistem solid, însufleţit de respect si grija pentru oameni.
    </p>
  </div>
</div>
