
.example-spacer {
  flex: 1 1 auto;
}


p.creator{
  font-family: 'Open Sans', sans-serif;
  color: grey;
  font-size: 15px;

}
p.copy{
  font-family: 'Open Sans', sans-serif;
  color: grey;
  font-size: 15px;

}
