<mat-card class="example-card">
  <mat-card-header>
  </mat-card-header>
  <mat-card-title>About us</mat-card-title>
  <mat-card-subtitle>
    <h1 class="text-moto" style="color: green"><i>"Noi suntem aici, pentru <span style="color: red">tine</span>!"</i></h1>

    </mat-card-subtitle>
  <mat-card-content>
    <p>
      Oferim oricărei persoane, indiferent de vârstă și ocupație, examene clinice generale și de specialitate, investigații de laborator generale și specifice în scopul: prevenirii afecțiunilor, promovării sănătății, stabilirii diagnosticului etiologic, stabilirii atitudinii terapeutice adecvate.
      Avem 18 de specialități medicale în ambulatoriul de specialitate. Iar ca dotare avem tot ce este necesar pentru un diagnostic corect și rapid:in imagistica și laborator de analize hematologice, biochimice, serologice, imunologice, virusologice etc.
      Serviciile medicale cu plată directă , decontate de casa de asigurari, sub formă de abonamente reprezintă soluția optimă. Numai relația directă dintre pacient și medic responsabilizează ambii parteneri. Pentru viitor, clinica MedSoft  își propune completarea gamei de servicii oferite, inițierea de programe de screening, promovarea educației pentru sănătate.    </p>
  </mat-card-content>

</mat-card>
