<h1 style="color: royalblue; font-weight: bold; padding-left: 1rem"> Forgot password</h1><br>

<div>
  <form
  name="form"
  (ngSubmit)="f.form.valid"
  #f="ngForm"
  novalidate
>
  <mat-form-field appearance="outline" >
    <mat-label>Email address</mat-label>
    <input matInput placeholder="Email address"
    name="email"
      [(ngModel)]="form.email"
      required
      #email="ngModel"
    >
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  </form>
</div>
<div>
  <button mat-raised-button color="primary" style="left: 35%" (click)="ngSubmit()">Send</button>
</div>
