<div>
  <div *ngIf="vizibil">
    <h1>Fise consult</h1>
    <mat-list *ngFor="let item of results" >
      <mat-list-item class="underline-on-hover" (click)=generare_consult(item)>{{"Rezultate -"+item[2]+' '+item[1]+"- "+item[11]+" "+item[10]+".pdf"}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <div *ngIf="vizibil_bilete">
    <h1>Bilete de trimitere</h1>
    <mat-list *ngFor="let item of results2" >
      <mat-list-item class="underline-on-hover" (click)=generare_trimitere(item)>{{"Trimiteri -"+item[1]+' '+item[2]+"- "+item[5]+" "+item[6]+".pdf"}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>
