
<h1 style="color: royalblue; font-weight: bold"> Registration</h1><br><br>
<div>
  <form
    name="form"
    (ngSubmit)="f.form.valid"
    #f="ngForm"
    novalidate
  >
  <div class="name">
    <mat-form-field appearance="outline">
      <mat-label>Full name</mat-label>
      <input matInput placeholder="Full name"
             type="text"
             class="form-control"
             name="fullname"
             [(ngModel)]="form.fullname"
             required
             #fullname="ngModel"

      >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div class="cnp">
    <mat-form-field appearance="outline">
      <mat-label>CNP</mat-label>
      <input matInput placeholder="CNP"
             type="text"
             class="form-control"
             name="CNP"
             [(ngModel)]="form.CNP"
             required
             #CNP="ngModel"

      >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div>
  <mat-form-field appearance="outline">
    <mat-label>Email address</mat-label>
    <input matInput placeholder="Email address"
           type="text"
           class="form-control"
           name="email"
           [(ngModel)]="form.email"
           required
           #email="ngModel"
    >
    <mat-icon matSuffix>alternate_email</mat-icon>
  </mat-form-field>
  </div>
  <div class="password">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type ="password" matInput placeholder="Password"
             class="form-control"
             name="password"
             [(ngModel)]="form.password"
             required
             #password="ngModel"
      >
      <mat-icon matSuffix>security</mat-icon>
    </mat-form-field>
  </div>
  <div class="passwordConfirmation">
    <mat-form-field appearance="outline">
      <mat-label>Password confirmation</mat-label>
      <input type ="password" matInput placeholder="Password confirmation"
             class="form-control"
             name="passwordconfirm"
             [(ngModel)]="form.passwordconfirm"
             required
             #passwordconfirm="ngModel">
      <mat-icon matSuffix>security</mat-icon>
    </mat-form-field>
  </div>
  </form>
  <div>
    <button mat-raised-button color="primary" style="left: 25%" *ngIf="form.password == form.passwordconfirm && form.password !== '' && form.passwordconfirm !== ''" (click)="SignUp()">Sign Up</button>
  </div>
</div>
